@import '../StyleVariables/StyleVariables.scss';

.message-container {
  padding: 8px;
}
.messages {
  display: flex;
}

.message {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid $background-gray;

  h2 {
    @include h2-text;
  }
  p {
    @include generic-text;
  }
  .edit-button {
    display: none;
  }
}

.message:hover .edit-button {
  display: block;
}

.profile-pic {
  flex-shrink: 0;
  @include x-large-icon;
}

.message-date {
  @include h6-text();
  border-bottom: 1px solid $background-gray;
  padding-bottom: 8px;
}
